<!DOCTYPE html>
<!--
{% macro pagination(url, page) %}
    <ul class="uk-pagination">
        {% if page.has_previous %}
            <li><a href="{{ url }}{{ page.page_index - 1 }}"><i class="uk-icon-angle-double-left"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-left"></i></span></li>
        {% endif %}
            <li class="uk-active"><span>{{ page.page_index }}</span></li>
        {% if page.has_next %}
            <li><a href="{{ url }}{{ page.page_index + 1 }}"><i class="uk-icon-angle-double-right"></i></a></li>
        {% else %}
            <li class="uk-disabled"><span><i class="uk-icon-angle-double-right"></i></span></li>
        {% endif %}
    </ul>
{% endmacro %}
-->
<html>
<head>
    <meta charset="utf-8" />
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Sanlisi Webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
	<link rel="stylesheet" href="/static/css/uikit.gradient.css">
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/uikit/uikit.min.js"></script>
    <script src="/static/js/uikit/uikit.js"></script>
    {% block beforehead %}<!-- before head  -->{% endblock %}
</head>
<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
	    <nav class="uk-navbar uk-margin-large-bottom">
		    <a class="uk-navbar-brand uk-hidden-small" href="x">sanlisi</a>
			<ul class="uk-navbar-nav uk-hidden-small">
			    <li class="uk-active"><a href="xx">日志</a></li>
				<li><a href="xx">教程</a></li>
				<li><a href="xx">源码</a></li>
				<li><a href="xx">登陆</a></li>
			</ul>
			<a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas></a>
			<div class="uk-navbar-brand uk-navbar-center uk-visible-small">sanlisi</div>
		</nav>
		
		<div class="uk-grid" data-uk-grid-margin>
		    <div class="uk-width-medium-3-4 uk-row-first">
			    {% block content %}
				{% endblock %}
			</div>
			
			<div class="uk-width-medium-1-4">
			    <div class="uk-panel uk-panel-box uk-text-center">
				    <img class="uk-border-circle" width="120" height="120" src="" alt="">
					<h3>作者</h3>
					<p>xxxxxxxxxxxxxxxxxxxxxxx</p>
				</div>
				
				<div class="uk-panel">
				    <h3 class="uk-panel-title">其他分类</h3>
					<ul class="uk-list uk-list-line">
					    <li><a href="x">dpdk</a></li>
						<li><a href="x">netmap</a></li>
						<li><a href="x">kernel</a></li>
					</ul>
				</div>
				
				<div class="uk-panel">
				    <h3 class="uk-panel-title">联系作者</h3>
					<ul class="uk-list">
					    <li><a herf="xx" class="uk-icon-button uk-icon-weibo"></a></li>
						<li><a herf="xx" class="uk-icon-button uk-icon-github"></a></li>
						<li><a herf="xx" class="uk-icon-button uk-icon-twitter"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div id="offcanvas" class="uk-offcanvas">
	    <div class="uk-offcanvas-bar">
		    <ul>
			    <li class="uk-active"><a href="xx">日志</a></li>
				<li><a href="xx">教程</a></li>
				<li><a href="xx">源码</a></li>
				<li><a href="xx">登陆</a></li>
			</ul>
		</div>
	</div>
</body>
</html>